<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ListnerTest">
 <listeners>
   <listener class-name="ASeleniumPractice_old.listners.MyListners"></listener>
 </listeners>
  <test thread-count="5" name="TestListner">
    <classes>
      <class name="ASeleniumPractice_old.listners.TestCaseLogin"/>
    </classes>
  </test> <!-- TestListner -->
</suite> <!-- ListnerTest -->
